<section class="container">
  <header class="d-flex">
    <div class="buscar-produtos">
      <input
        type="search"
        class="filtro"
        placeholder="Digite o nome do produto"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisaProdutos()"
      />
    </div>
  </header>
  <div class="listaProdutos" *ngIf="listaProdutos.length > 0; else semProdutos">
    <div class="listCard" *ngFor="let produto of listaProdutos">
      <app-produto [produto]="produto"> </app-produto>
    </div>
  </div>
</section>

<ng-template #semProdutos>
  <div class="ff-inter sem-produtos">
    <p>Ainda não há produtos cadastrados!</p>
  </div>
</ng-template>
