<article class="card">
  <div class="float-layout">
    <div class="imagem">
      <img src="{{ produto.imagem }}" alt="Imagem do produto" />
    </div>
    <div class="container">
      <h3 style="margin-bottom: auto">{{ produto.nome }}</h3>
      <h2 style="margin-bottom: auto">R${{ produto.preco.toFixed(2) }}</h2>
      <p style="margin-bottom: auto">Detalhes:</p>
      <hr />
      <p style="margin-bottom: auto">{{ produto.descricao }}</p>
      <hr />
    </div>
    <div>
      <input type="number" min="1" max="{{ produto.estoque }}" />
      <button>Adicionar ao carrinho</button>
    </div>
  </div>
</article>
