.text {
  margin: 5px;
  word-wrap: break-word;
  width: inherit; /* width: 100px; */
}

.float-layout {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2);
  transition: 0.3s;
  max-width: 400px;
  float: center;
  width: 50%;
  height: 50%;
  padding: 0 10px;
  text-align: left;
  font-size: 18px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(250, 250, 250, 0.2);
}

.container {
  display: flex;
  align-items: center;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  white-space: pre-wrap;
  overflow: hidden;
}

img {
  display: flex;
  margin: 20px;
  width: 300px;
  height: 300px;
  object-fit: scale-down;
  object-position: 25% 25%;
}

.d-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  article {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
