<article class="container">
  <div class="float-layout d-flex">
    <div class="container">
      <img src="{{ produto.imagem }}" alt="Imagem do produto" />
      <div class="dados">
        <h3 class="text">{{ produto.nome }}</h3>
        <h2 class="text">R${{ produto.preco.toFixed(2) }}</h2>
        <p class="text">Detalhes:</p>
        <p class="text">{{ produto.descricao }}</p>
      </div>
    </div>
    <div>
      <input type="number" min="1" max="{{ produto.estoque }}" />
      <button (click)="adicionarAoCarrinho(produto.nome)">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
</article>
