img {
  width: 15%;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header {
  display: flex;
}

.header:hover {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 0;
}
