article {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  flex-direction: column;
  gap: 2rem;
}

.nome {
  margin: 2px;
  word-wrap: break-word;
}

.valor {
  margin: 2px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2);
  transition: 0.3s;
  min-width: 350px;
  max-width: 350px;
  align-items: left;
  padding: 0 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(250, 250, 250, 0.2);
  cursor: pointer;
}

.container {
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  white-space: pre-wrap;
  overflow: hidden;
}

img {
  display: flex;
  margin: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 25% 25%;
}

/* .produto-g {
  width: 556px;
}

.produto-p {
  width: 262px;
}

@media screen and (max-width: 768px) {
  .produto-g {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .produto-p {
    width: 100%;
  }
} */
